name: Build
on:
  # Build on commits pushed.
  push:
  # Build on pull requests.
  pull_request:
  # Build manually
  workflow_dispatch:

env:
  # Common settings.
  CMAKE_VERSION: 3.21.x
  # Common paths.
  ci_source_dir: ${{ github.workspace }}/source-code
  ci_build_dir: ${{ github.workspace }}/cmake-build

jobs:
  # There is single job that builds the project for windows.
  # There is no deployment, testing or releasing.
  Windows:
    runs-on: windows-2022

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          path: ${{ env.ci_source_dir }}
          fetch-depth: 1
          submodules: recursive

      - name: Download SDK
        uses: robinraju/release-downloader@v1.8
        with:
          repository: rbfx/rbfx
          tag: latest
          fileName: rebelfork-sdk-windows-msvc-x64-dll-latest.7z

      - name: Extract SDK 7z
        shell: bash
        working-directory: ${{ github.workspace }}
        run: 7z x rebelfork-sdk-windows-msvc-x64-dll-latest.7z -y '-o${{ github.workspace }}'

      - name: Configure
        run: >
          cmake
          -S ${{ env.ci_source_dir }}
          -B ${{ env.ci_build_dir }}
          -G "Visual Studio 17 2022"
          -A x64
          -DBUILD_SHARED_LIBS=ON
          -DCMAKE_PREFIX_PATH=${{ github.workspace }}/rebelfork-sdk-windows-msvc-x64-dll-latest/share

      - name: Build
        run: |
          cmake --build ${{ env.ci_build_dir }} --config RelWithDebInfo
